<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/templates/index/principalStyle.css">
    <link rel="stylesheet" href="/view/templates/index/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>M & Z Store</title>
    <link rel="icon" type="image/x-icon" href="/view/templates/index/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="/view/templates/index/slide.js" defer></script>
    <script src="/view/templates/index/menu.js" defer></script>
    <script src="cart.js" defer></script>
    <link rel="stylesheet" href="https://unkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
  
<body>

  <div class="header-content">
    <!-- Conteúdo do seu cabeçalho -->
  </div>

  <main>
    <div class="carrinho">
        div.cabeç<alho-carrinho>
            <button>
                <i class="bx bx-chevron" id="cart-icon"></i>
            </button>
        </alho-carrinho>
    </div>
  </main>
 
  <div class="footer">
    <!-- Conteúdo do seu rodapé -->
  </div>

  </div>
</body>
</html>
