@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200&display=swap');

:root {
  --primary-color: #0cf19d;
  --secondary-color: #56d5cf;
  --terciary-color: #4ba0ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Estilização do menu de categorias */

 .header-content{
  position: relative;
}
.header {
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  transition: 0.5s ease;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  z-index: 9999;
}


.logo {
  display: flex;
  padding: 0;
  align-items: center;
  font-size: 1rem;
  width:15px;
  column-gap: 0.2;
  color: black;
}

.navbar{
  display: flex;
  column-gap: 2.4rem;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.navbar a:hover {
  color: var(--terciary-color);
}

.header-icons {
  font-size: 22px;
  cursor: pointer;
  z-index: 100000;
}

#menu-icon {
  display: none;
}

.search-box {
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}

.search-box input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 280px;
  box-shadow: var(--terciary-color);
}

.search-box.active {
  opacity: 1;
  pointer-events: auto;
  border: 2px solid var(--terciary-color);
}

#search-icon:hover + .search-box {
  opacity: 1;
  pointer-events: auto;
}


/* Estilização do Menu */

#menu-header {
    background-color: var(--terciary-color);
    list-style: none;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 100px;
  z-index: 9999;
}

#menu-header ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#menu-header ul li {
    flex: 1;
    display: block;
    text-align: center;
}

#menu-header ul li a{
    color: seashell;
    text-decoration: none;
}

#menu-header ul li a:hover::after {
  width: 100%;
}

#categories {
  position: relative;
  color: seashell;
  cursor: pointer;
}

#categories ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  padding-top: 0px;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

#categories ul li:last-child {
  margin-bottom: 5px;
}

#categories:hover ul,
#categories *:hover {
  opacity: 1;
  background-color: var(--terciary-color);
  pointer-events: auto;
}

#categories:hover ul {
  padding-top: 7px;
}

#categories ul li:hover {
  padding-left: 5px;
}


.user {
  position: absolute;
  right: 1rem;
  top: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  background: "";
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: "";
}

.user h2{
  font-size: 1.2rem;
  color: black;
}

.user .login-btn {
  background: "";
  color: #4ba0ea;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.user .login-btn:hover {
  background: yellow;
}

.user input {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
}

.user p {
  font-size: '';
}

.user a {
  text-decoration:underline;
  color: #4ba0ea;
}

.user.active {
  right: 1rem;
  transition: 0.2s;
  z-index: 10000000;
}


/* Estilização do Main */

main {
  height: auto;
  position: relative;
  top: 130px;

}

.banners-content {
  background-color: #9b9b9b;
  display: grid;
  wrap: wrap;
  position: relative;
  padding-top: 30px;
}

.banner-category {
  display: flex;
  wrap: wrap;
}

.banner-category img {
  padding: 0px 30px;
  width: 800px;
}

.banner-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-text h2 {
  font-size: 40px;
  text-align: justify;
  padding-top: 40px;
}

.banner-text p {
  font-size: 25px;
  padding: 20px;
}

.banner-anuncio {
  position: relative;
  width: 600px;
  height: 250px;
  background-color: #ebeff2;
  top: -130px;
  left: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-anuncio-fem {
  position: relative;
  top: -150px;
  left: 150px;
  width: 600px;
  height: 250px;
  background-color: #ebeff2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-anuncio:hover,
.banner-anuncio-fem:hover {
  transform: scale(110%);
}

.masrcas-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}

.masrcas-content img {
  width: 120px;
}

.masrcas-content img:hover {
  transform: scale(110%);
}


/* Estilização do rodapé */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  position: relative;
  top: 130px;
  font-family: 'Poppins', sans-serif;
}

.footer-box {
  color: black;
  text-align: left;
  max-width: 240px;
  margin: 0 auto;
}

.footer-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.social a .bx {
  font-size: 24px;
  color: black;
  padding: 10px;
  background: #ebeff2;
  border-radius: 0.5rem;
}

.social a .bx:hover {
  background: var(--terciary-color);;
  color: #fff;
}

.footer-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-box li a {
  color: black;
  text-decoration: none;
}
.footer-box li a:hover {
  color: var(--terciary-color);
}
.payment{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.payment img {
  width: 60px;
}
.copyright {
  padding: 20px;
  text-align: center;
  color: seashell;
  background-color: var(--terciary-color);
  position: relative;
  top: 130px;
}
