* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do menu de navegação */
#menu-header {
    background-color: rgb(10, 10, 10);
    list-style: none;
    padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
}

#menu-header ul {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Distribui os itens uniformemente ao longo do contêiner */
}

#menu-header ul li {
    flex: 1;
    display: block;
    text-align: center;
}

#menu-header ul li a{
    color: seashell;
    text-decoration: none;
    padding: 20px;
}


/* Estilização do menu de categorias */
#categorys {
    background-color: #256;
    list-style: none;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

#categorys ul {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Distribui os itens uniformemente ao longo do contêiner */
}

#categorys ul li {
    flex: 1;
    display: block;
    text-align: center;
}

#categorys ul li a{
    color: seashell;
    text-decoration: none;
    padding: 20px;
}