<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/templates/index/principalStyle.css">
    <link rel="stylesheet" href="/view/templates/index/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/view/templates/home/homeStyle.css">
    <title>M & Z Store</title>
    <link rel="icon" type="image/x-icon" href="/view/templates/index/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="/view/templates/index/slide.js" defer></script>
    <script src="/view/templates/index/menu.js" defer></script>
    <script src="home.js" defer></script>
    
</head>
  
<body>

  <div class="header-content">
    <!-- Conteúdo do seu cabeçalho -->
  </div>

  <main>
    <!--Slider carrossel-->
    
    <section class="slider">
      <div class="slider-content">

          <input type="radio" name="btn-radio" id="radio1">
          <input type="radio" name="btn-radio" id="radio2">
          <input type="radio" name="btn-radio" id="radio3">

          <div class="slide-box primeiro">
            <img class="img-desktop" src="/view/templates/index/images/Banner1.png" alt="slide 1">
            <img class="img-mobile" src="/view/templates/index/images/Banner1mobile.png" alt="slide 1">
          </div>

          <div class="slide-box">
            <img class="img-desktop" src="/view/templates/index/images/Banner2.png" alt="slide 2">
            <img class="img-mobile" src="/view/templates/index/images/banner2mobile.png" alt="slide 2">
          </div>

          <div class="slide-box">
            <img class="img-desktop" src="/view/templates/index/images/Banner3.jpg" alt="slide 3">
            <img class="img-mobile" src="/view/templates/index/images/banner3mobile.jpg" alt="slide 3">
          </div>

          <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
          </div>

          <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
          </div>

      </div>

    </section>

    <section class="marcas">
      <h2>Nossa Marcas</h2>
      <div class="masrcas-content">
        <a href="#"><img src="/view/templates/index/images/Marcas/grahan.png" alt="Graham relogios Logo png"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/longines.png" alt="Longline Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/luminox.png" alt="Lunminox logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/maserati.png" alt="Maserati Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/omega.png" alt="Omega Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/oris.png" alt="Oris Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/seiko.png" alt="Seiko Logo"></a>
      </div>
    </section>

    <section class="black-friday">
      <h2>BLACK FRIDAY</h2>

      <div class="category">
        <div class="category-box">
          <h3>Sport</h3>
        </div>
        <div class="category-box">
          <h3>De Luxo</h3>
        </div>
        <div class="category-box">
          <h3>Premium</h3>
        </div>
        <div class="category-box">
          <h3>Casual</h3>
        </div>
        <div class="category-box">
          <h3>Promocional</h3>
        </div>
      </div>
    </section>
    

    <section class="email">
      <div class="email-contant">
        <h2>Receba nossas novidades por e-mail</h2>
        <div class="email-text">
          <input type="text" placeholder="Nome Completo">
          <input type="email" placeholder="E-mail">
          <button>OK</button>
       </div>

      </div>



    </section>
    <!--TODO: Itens dinamicamente adicionados pelo AJAX-->
  </main>
 
  <div class="footer">
    <!-- Conteúdo do seu rodapé -->
  </div>

  </div>
</body>
</html>
