<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/templates/index/principalStyle.css">
    <link rel="stylesheet" href="/view/templates/index/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>M & Z Store</title>
    <link rel="icon" type="image/x-icon" href="/view/templates/index/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="/view/templates/index/slide.js" defer></script>
    <script src="/view/templates/index/menu.js" defer></script>
    <script src="home.js" defer></script>
</head>
  
<body>

  <div class="header-content">
    <!-- Conteúdo do seu cabeçalho -->
  </div>

  <main>
    <!--Slider carrossel-->
    
    <section class="slider">
      <div class="slider-content">

          <input type="radio" name="btn-radio" id="radio1">
          <input type="radio" name="btn-radio" id="radio2">
          <input type="radio" name="btn-radio" id="radio3">

          <div class="slide-box primeiro">
            <img class="img-desktop" src="/view/templates/index/images/Banner1.png" alt="slide 1">
            <img class="img-mobile" src="/view/templates/index/images/Banner1mobile.png" alt="slide 1">
          </div>

          <div class="slide-box">
            <img class="img-desktop" src="/view/templates/index/images/Banner2.png" alt="slide 2">
            <img class="img-mobile" src="/view/templates/index/images/banner2mobile.png" alt="slide 2">
          </div>

          <div class="slide-box">
            <img class="img-desktop" src="/view/templates/index/images/Banner3.jpg" alt="slide 3">
            <img class="img-mobile" src="/view/templates/index/images/banner3mobile.jpg" alt="slide 3">
          </div>

          <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
          </div>

          <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
          </div>

      </div>

    </section>

    <section class="marcas">
      <div class="masrcas-content">
        <a href="#"><img src="/view/templates/index/images/Marcas/grahan.png" alt="Graham relogios Logo png"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/longines.png" alt="Longline Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/luminox.png" alt="Lunminox logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/maserati.png" alt="Maserati Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/omega.png" alt="Omega Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/oris.png" alt="Oris Logo"></a>
        <a href="#"><img src="/view/templates/index/images/Marcas/seiko.png" alt="Seiko Logo"></a>
      </div>
    </section>

    <section class="banners">

      <div class="banners-content">

        <div class="banner-category">
          <img src="/view/templates/index/images/masculino.jpg" alt="relogios Masculinos">
          <div class="banner-text">
            <h2>Relógios Maculinos</h2>
            <p>"Descubra a elegância atemporal com nossa coleção de relógios masculinos. Cada peça é uma fusão de estilo refinado e funcionalidade moderna, perfeita para homens que apreciam o valor do tempo. Desde designs clássicos até modelos contemporâneos."</p>
          </div>
        </div>

        <div class="banner-anuncio">
          <a href="#"><img src="/view/templates/index/images/começar.png" alt=""></a>
        </div>
        
        <div class="banner-category">
          <div class="banner-text">
            <h2>Relógios Femininos</h2>
            <p>"Descubra a elegância feminina em cada detalhe com nossa coleção de relógios exclusivos para mulheres. Cada relógio é uma obra-prima de estilo e sofisticação, projetado para mulheres que valorizam o glamour atemporal."</p>
          </div>
          <img src="/view/templates/index/images/feminino.jpg" alt="relogios Femininos">
        </div>

        <div class="banner-anuncio-fem">
          <a href="#"><img src="/view/templates/index/images/começar.png" alt=""></a>
        </div>


        <div class="banner-category">
          <img src="/view/templates/index/images/inteligente.webp" alt="relogios inteligentes">
          <div class="banner-text">
            <h2>Relógios inteligentes</h2>
            <p>"Explore a revolução da tecnologia vestível com nossa gama de relógios inteligentes de última geração. Mais do que apenas dispositivos, são seus parceiros de vida, mantendo-o conectado ao mundo enquanto você se concentra no que é importante."</p>
          </div>
        </div>
        <div class="banner-anuncio">
          <a href="#"><img src="/view/templates/index/images/começar.png" alt=""></a>
          </div>
      </div>
    </section>
    
    <!--TODO: Itens dinamicamente adicionados pelo AJAX-->
  </main>
 
  <div class="footer">
    <!-- Conteúdo do seu rodapé -->
  </div>

  </div>
</body>
</html>
